/* SESS Theme */

// Import utilities
@import "core/utils/fonts";
@import "core/utils/reset";

// Import Bootstrap source files
@import "node_modules/bootstrap/scss/bootstrap";

// Import core styles
@import "core/core";

// Import custom styles
@import "custom";

input,
textarea {
  text-align: right;
}

html,
body {
  font-family: "Vazirmatn", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
